// @mixin bg{
//     height: 200px;
//     width: 200px;
//     h1{
//         color:aqua;
//         text-align: center;

//     }
// }

@mixin d-flex(
  $justify-content: space-between,
  $align-items: center,
  $gap: 20px
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
