header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-color: #363a4085;
  padding: 10px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $general-font;

  nav {
    ul {
      display: flex;
      gap: 30px;

      li {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        position: relative;
        padding-block: 15px;
        &:hover ul {
          display: block;
        }

        a {
          i {
            padding: 0px 5px;
            font-size: 12px;
            color: $primary-color;
            transition: 0.5s;
          }
          &:hover i {
            transform: rotate(-180deg);
          }
        }
        ul {
          background-color: $secondary-color;
          position: absolute;
          top: 100%;
          left: 0px;
          display: none;
          li {
            // display: none;
            text-transform: capitalize;
            padding: 10px 40px;
            &:hover {
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
  .right-content {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    a i {
      font-size: 20px;
    }
    span {
      display: flex;
      gap: 15px;
      justify-content: space-between;
      align-items: center;

      i {
        font-size: 25px;
      }
    }
  }
}
